.reviews {
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    color: #0d0d0d;
  }

  &__list {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  &-item {
    display: flex;
    align-items: start;

    img {
      display: block;
      max-width: 169px;
      height: auto;
      margin-right: 60px;
    }

    &__wrapper {
      flex-direction: column;
    }

    &__name {
      font-weight: 700;
      font-size: 18px;
      line-height: 1;
      color: #0d0d0d;
    }
    &__rank {
      font-weight: 500;
      font-size: 14px;
      color: #646464;
    }

    &__text {
      margin-top: 10px;
      font-weight: 300;
      font-size: 16px;
      line-height: 1.5;
      color: #0d0d0d;
    }
  }
}

@media (max-width: 768px) {
  .reviews-item {
    flex-direction: column;
    align-items: center;
    text-align: start;
  }

  .reviews-item img {
    margin-right: 0;
    margin-bottom: 20px;
    object-fit: cover;
  }
}
